body{
    background-color:#000;
}

.homepage-background{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display:flex;
    align-items: center;
}

.title-card{
    position:relative;
    width:100%;
    text-align:left;
}
.profile-card{
    padding:40px;
}
.profile-card img{
    display:block;
    border-radius:100%;
}

h1,h2{
    color:#fff;
    margin:0;
    display:block;
}


h1.homepage-title{
    font-size:80px;    
}

h2{
    font-size:35px;
}

