body{
    background-color:#000;
}

h1,h2{
    color:#fff;
    margin:0;
    display:block;
    opacity:80%;
}

.portfolio-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

.grid-item{
    display:block;
    margin:5px;
    width:350px;
    height:350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.grid-item .excerpt{
    display:none;
}