<!doctype html>
<html>
  <head>
	<title>Justin Chu | Full Stack Web Developer</title>
	<link rel="icon" type="image/png" href="img/blackbox-icon.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Justin Chu is a Web Developer working with Bell Canada. At day, he works with various Microsoft technologies. At night, he is constantly learning open source technologies. Never content with solutions just working, Justin constantly considers various ways to improve and optimize for effiency.">
    <meta name="keywords" content="full stack developer, open source technologies, microsoft technologies, Justin Chu, developer, ASP.NET MVC, IIS, Javascript, Node, React, Redux, Python, Django, MySQL, PostgreSQL" />
    <meta name="robots" content="index,follow">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="province" content="ON"/>
    <meta name="language" content="en"/>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-43426182-1', 'auto');
        ga('send', 'pageview');
      
      </script>
  </head>
  <body>
    {% include navigation_homepage.html %}
    {{ content }}
  </body>
</html>